<div class="tab-pane fade" id="config-activity-pane">
  <h4 class="card-title">Activity</h4>
  <div class="row justify-content-center">
    <div class="col-8">
      <ul class="bullet-line-list">
        <li class="activity-error">
          <h6 class="text-danger">Scheduled update</h6>
          <p class="text-muted mb-0 ms-4">
            <i class="ti-info-alt"></i>
            <small>Access denied. Check if your BrawlStarsAPI Token is valid.</small>
          </p>
          <p>Connection to Brawl Stars API failed.</p>
          <p class="text-muted mb-4">
            <i class="ti-time me-1"></i>
            28/10/2022 15:12:03
          </p>
        </li>
        <li class="activity-success">
          <h6 class="text-success">Scheduled update</h6>
          <p>Connection to Brawl Stars API has been successful.</p>
          <p class="text-muted mb-4">
            <i class="ti-time me-1"></i>
            27/10/2022 15:12:03
          </p>
        </li>
        <li class="activity-success">
          <h6 class="text-success">Manual update</h6>
          <p>Connection to Brawl Stars API has been successful.</p>
          <p class="text-muted mb-4">
            <i class="ti-time me-1"></i>
            26/10/2022 23:42:33
          </p>
        </li>
        <li class="activity-success">
          <h6 class="text-success">Scheduled update</h6>
          <p>Connection to Brawl Stars API has been successful.</p>
          <p class="text-muted mb-4">
            <i class="ti-time me-1"></i>
            26/10/2022 15:12:03
          </p>
        </li>
      </ul>
      <div class="list align-items-center pt-3">
      </div>
    </div>
  </div>
</div>